.story {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 220px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.story:hover {
    transform: scale(1.07);
}

.story__avatar {
    margin: 10px;
    border: 5px solid #2e81f4;
}

.story > h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}


@media only screen and (max-width: 1000px) {

    .story {
        height: 100px;
        width: 40px !important;
    }
 
    .story > h4 {
        font-size: 10px;
        left: 0;
        width: 50px;
    }

    .story__avatar {
        width: 20px !important;
        height: 20px !important;
    }

    
    .story__avatar {
        margin: 2px;
        border: 2px solid #2e81f4;
    }
}